<!doctype html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Pretty Wire Log Viewer</title>
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <script src="vendor/js/jquery.min.js"></script>
    <script src="vendor/js/lodash.min.js"></script>
    <script src="vendor/js/vue.min.js"></script>
    <script src="vendor/js/bootstrap.min.js"></script>
    <link href="vendor/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="vendor/js/utf8.js"></script>
    <script src="vendor/js/micro-location.js"></script>
    <script src="src/js/WireLogParser.js"></script>
    <link href="src/css/main.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <div id="main">
      <div id="header">
        <h1>Pretty Wire Log Viewer <a href="http://github.com/moznion/PrettyWireLogViewer" target="_blank"><img src="vendor/img/github-log.png" alt="github logo" width="33"></a></h1>
        <p class="intro">
          Pretty viewer for wire logging of Apache <a href="http://hc.apache.org/" target="_blank">HttpClient</a>
        </p>

        <hr>

        <table>
          <tr>
            <td style="padding: 0px 6px 0px 0px;" title="If you enable this, JSON body will be format pretty">
              <div class="pretty-json-toggle">
                <input type="checkbox" name="pretty-json-toggle" class="pretty-json-toggle-checkbox" id="pretty-json" v-model="prettyJSON" v-on="change: getPretty, change: changeState('prettyJSON')">
                <label class="pretty-json-toggle-label" for="pretty-json">
                  <span class="pretty-json-toggle-inner"></span>
                  <span class="pretty-json-toggle-switch"></span>
                </label>
              </div>
            </td>

            <td style="padding: 0px 0px 0px 6px;" title="If you enable this, utf-8 encoded byte string will be decoded (e.g. :'[0xe6][0x9c][0xac]' => '本')">
              <div class="decode-bytes-toggle">
                <input type="checkbox" name="decode-bytes-toggle" class="decode-bytes-toggle-checkbox" id="decode-bytes" v-model="decodeBytes" v-on="change: getPretty, change: changeState('decodeBytes')">
                <label class="decode-bytes-toggle-label" for="decode-bytes">
                  <span class="decode-bytes-toggle-inner"></span>
                  <span class="decode-bytes-toggle-switch"></span>
                </label>
              </div>
            </td>
          </tr>
        </table>
      </div>

      <div id="left">
        <h3>Input</h3>
        <textarea id="wire-log" class="form-control" v-model="wireLog" v-on="keyup: getPretty"></textarea>
      </div>

      <div id="right">
        <div v-repeat="logs">
          <h3>{{ $key }}</h3>
          <textarea class="result form-control" rows=15 readonly>{{ $value }}</textarea>
        </div>
      </div>
    </div>

    <script src="src/js/main.js"></script>
  </body>
</html>
