p.intro {
  font-size: 20px;
  text-align: center;
}

#main {
  width: 80%;
  margin: 0px auto 0px auto;
}

h1.main-title {
  font-size: 60px;
  text-align: center;
}

button.btn {
  width: 100%;
  letter-spacing: 0.2em;
}

textarea#wire-log {
  margin: 0px 0px 10px 0px;
}

table.result {
  width: 100%;
  table-layout: auto;
}

table.result tr td{
  width:100px;
}

textarea.result {
  width:100%;
  height:100%;
}
